body{
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial;
    border: 1px solid black;
    margin: 0;
    padding: 10px;
}

.header h1{
    margin: 0;
}

.menu{
    display: flex;
    list-style: none;
    padding: 0;
}

.menu a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.footer{
    border: 1px solid black;
    text-align: center;
}

.card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 80%);
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 350px;
    display: inline-block;
}

.card .card-image{
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card .card-title{
    font-family: Arial;
    margin: 0;
    color: rgb(119, 199, 0);
}

.card .card-text {
    font-family: Arial;
    color: hsl(0, 0%, 80%);
}

.student{
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 1em;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
}

.student p{
    margin: 10px ;
}

.welcome-message{
    font-family: Arial;
    font-size: 2em;
    background-color: hsl(120, 100%, 60%);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.login-prompt{
    font-family: Arial;
    font-size: 2em;
    background-color: hsl(0, 100%, 60%);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.fruit-container{
    width: 50%;
    text-align: center;
}

.fruits-list{
    font-family: Arial;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fruits-list li{
    margin: 5px;
    border: 1px solid hsl(120, 100%, 60%);
    padding: 10px;
}

.color-picker-container{
    font-family: Arial;
    padding: 20px;
    width: 50%;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-display{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    height: 75%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease;
}

input[type="color"]{
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;
    width: 75px;
    height: 50px;
}


.task-list{
    list-style: none;
    padding: 0;
    display: flex;
}

.task-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.task-list .text{
    font-family: Arial;
    margin: 5px;
}

.task-list .delete-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.task-list li{
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.clock-container{
    background-image: url('./assets/foto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px hsl(0, 0%, 75%);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.box{
    border: 2px solid red;
    width: 100%;
    padding: 10px;
}